.m-btn{
    background-color: #019160;
    border-radius: 4px;
    height:34px;
    font-size: 13px;
    color: #ffffff;
    font-weight: normal;
    padding-left: 24px;
    padding-right:24px;
    text-align: center;
    outline: underline;
    border: none;
    cursor:pointer;
    min-width: 100px;
}
.m-content-title .m-btn{
    display:flex;
    align-items: center;
}
.m-content-title .m-btn .fa-user-plus{
    font-size:10px;
    margin-bottom: 2px;
}
.m-content-title .m-btn .m-btn-add{
    margin-left: 10px;
}
.m-btn:hover{
    background-color: #2FBE8E
}
.m-btn:active{
    background-color: #01B075;
}