.m-combobox{
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    outline: unset;
    width: 100%;
}

.m-combobox:focus{
    border-color:#019160 ;
}

.mcombobox{
    display: flex;
    position: relative;
    height: 40px;
}
.mcombobox input{
    border: 1px solid #ccc;
    border-radius:4px;
}

.mcombobox input:focus~button{
    border-color:#019160 ;
}

.mcombobox button{
    width:40px;
    height:40px;
    border: 1px solid #ccc;
    border-radius:4px;
}

.mcombobox .mcombobox-data{
     display: none; 
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    width: 100%;
    box-shadow:0px 4px 4px 4px #bbb ;
    background-color: #fff;
}

.mcombobox .mcombobox-item{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 34px;
}
.mcombobox .mcombobox-item:hover,.m-combobox-item-hover{
    background-color:#bbb !important;
}
