.bottom-list-menu .menu-icon-dashboard{
    width: 20px;
    height: 20px;
    margin:12px 10px 12px 16px;
    background-image:  url('../../content/icon/dashboard.png');
    background-size: contain;
}

.bottom-list-menu .menu-icon-report{
    width: 20px;
    height: 20px;
    margin:12px 10px 12px 16px;
    background-image:  url('../../content/icon/report.png');
    background-size: contain;
}

.bottom-list-menu .menu-icon-shopping{
    width: 20px;
    height: 20px;
    margin:12px 10px 12px 16px;
    background-image:  url('../../content/icon/dashboard.png');
    background-size: contain;
}

.bottom-list-menu .menu-icon-employee{
    width: 20px;
    height: 20px;
    margin:12px 10px 12px 16px;
    background-image:  url('../../content/icon/dic-employee.png');
    background-size: contain;
}

.bottom-list-menu .menu-icon-design{
    width: 20px;
    height: 20px;
    margin:12px 10px 12px 16px;
    background-image:  url('../../content/icon/setting.png');
    background-size: contain;
}