    .m-table-paging {
        height: 50px;
        border: 1px solid #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0px 16px;
    }
    
    .m-table-paging .m-paging-left {
        width: 200px;
    }
    
    .m-table-paging .m-paging-center {
        width: 200px;
        flex: 1;
        display: flex;
        justify-content: center;
    }
    
    .m-table-paging .m-paging-right {
        display: flex;
        justify-content: right;
    }
    
    .m-table-paging .m-paging-first {
    
        width: 32px;
        height: 32px;
        background-image: url('../../content/icon/btn-firstpage.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .m-table-paging .m-paging-prev {
       
        width: 32px;
        height: 32px;
        background-image: url('../../content/icon/btn-prev-page.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .m-table-paging .m-paging-number {
        flex: 1;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
    }
    
    .m-table-paging .m-paging-next {
    
        width: 32px;
        height: 32px;
        background-image: url('../../content/icon/btn-next-page.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .m-table-paging .m-paging-last {
    
        width: 32px;
        height: 32px;
        background-image: url('../../content/icon/btn-lastpage.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .m-table-paging .m-page-number {
        width: 32px;
        height: 32px;
        border: 1px solid #ddd;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        margin: 0 5px;
        cursor: pointer;
        background-color: #01B075;
        color: #fff;
    }
    
    .m-table-paging .m-page-number:hover {
        background-color: #2FBE8E;
    }