.m-popup {
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    border: 0.8px solid #ccc;
    width: 420px;
    background-color: #fff;
}

.m-popup .m-popup-header {
    position: relative;
    padding:24px;
}
.m-popup-header .m-popup-header-text{
    font-size: 15px;
    font-weight: 700;
}
.m-popup-header .m-popup-header-close{
    position: absolute;
    top: 0;
    right: 0;
    height:25px;
    width: 25px;
    border: none;
    color:rgb(87, 83, 83);
    font-size: 24px;
    text-align: center;
    line-height: 20px;
}

.m-popup-header .m-popup-header-close:hover{
    background-color: #ccc;
    cursor: pointer;
}

.m-popup .m-popup-content {
     display:flex; 
    padding:0px 24px 24px 24px;
}

.m-popup-content .m-popup-content-warning{
    height:30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius:50%;
    background-color: #E5E5E5;
    margin-right: 10px;
    color: rgb(236, 236, 16);
}
.m-popup-content .m-popup-content-text{
    font-size:13px;
    width:90%;
}

.m-popup .m-popup-footer {
     display:flex;
     padding: 10px 24px 10px;
    justify-content: flex-end; 
    background-color:#E9EBEE;
}

 .m-popup-footer .m-popup-footer-btn-left{
    width:100px;
    height:40px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    background-color:#E9EBEE;
}

.m-popup-footer .m-popup-footer-btn-left:hover{
    background-color: #E5E5E5;
    cursor: pointer;
}

.m-popup-footer .m-popup-footer-btn-right{
    width:100px;
    height:40px;
    margin-left: 16px;
    cursor: pointer;
    background-color: #019160;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
} 

.m-popup-footer .m-popup-footer-btn-right:hover{
    background-color: #2FBE8E;
    cursor: pointer;
}

.m-dialog-modal{
    background-color:#0000007a;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.m-popup-btn{
    background-color:#3a7c85;
    border: none;
    padding: 10px;
    border-radius:5px;
    color: #fff;
    cursor: pointer;
}

