 .m-toast-box{
     
 }
 
 .m-toast-msg {
     display: flex;
     flex: 1;
     align-items: center;
     border-radius: 4px;
     box-shadow: 0px 3px 6px;
     max-width: 300px;
     height: 48px;
     padding-right: 1px;
 }

 .m-toast-msg .toast-msg-icon {
     width: 24px;
     height: 24px;
     margin-left: 24px;
     margin-right: 8px;
     text-align: center;
     font-size: 20px;
     line-height: 24px;
     color: red
 }
 
 .m-toast-msg .toast-msg-close {
     width: 24px;
     height: 24px;
     margin-right: 10px;
     text-align: center;
     line-height: 24px;
     cursor: pointer;
     font-size: 20px;
     color: red;
 }
 
 .m-toast-msg .toast-msg-close:hover {
     background-color: #EBF4FF;
     border: 1px solid #bbb;
     border-radius: 4px;
 }
 
 .m-toast-msg .toast-msg-text {
     flex: 1;
 }

 .m-toast-box .m-toast-msg{
    position: fixed;
    bottom:0;
    right: 0;
    background-color:white;
    margin-right: 16px;
    margin-bottom: 3px;
}


