.m-row {
    display: block;
}

.m-row>label {
    display: block;
    margin-bottom: 4px;
    font-weight: 700;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.m-loading {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d;
}

.m-loading .m-loading-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 5px solid rgb(232, 238, 237);
    border-top: 5px solid rgb(18, 143, 124);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}