.m-content{
    height: calc(100vh - 48px);
    width: calc(100% - 226px);
    float: left;

}

.m-content .m-content-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-content-title .m-title-text{
    font-size: 18px;
    font-weight: bold;
    margin:24px 0px 20px 16px;
}

.m-content-title .m-btn{
    margin:16px 16px 10px 0px;
}

.m-content-combobox{
    display:flex;
    justify-content: space-between;
}

.m-content-combobox .m-content-combobox-left{
    display: flex;
    align-items: center;
}

.m-content-combobox-left .m-input-search{
    margin:0 10px 0px 16px;
}

.m-content-combobox-left .m-combobox {
    margin-right: 16px;
    height: 40px;
    padding-left: 16px;
    padding-right: 30px;
    border: 1px solid #ccc;
}
.m-content-combobox .m-content-combobox-right{
    display: flex;
}

.m-content-combobox-right .m-reload{
    width:40px;
    height:40px;
    margin-right: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-image: url('../../content/icon/refresh.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.m-content-combobox-right .m-reload:hover{

}

.m-content-combobox-right .m-delete{
    width:40px;
    height:40px;
    margin-right: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #efefef;
    color: #8f9090;
    cursor: pointer;
}
.m-content-combobox-right .m-delete:hover{
   background-color: #fc0000;
   color: white;
}
.m-content .m-grid{
    margin: 16px 16px 0px 0px;
    padding-left: 16px;
    height: calc(100% - 172px);
    overflow: auto;
    box-sizing: border-box;
}
.m-content .m-grid-head{
    margin: 16px 32px 0px 0px;
    padding-left: 16px;
    overflow: auto;
    box-sizing: border-box;
}

.m-content-table .m-table-paging{

} 