.m-header{
    display:flex;
    justify-content:space-between;
    border:0.5px solid #ccc;
    height: 48px;
}

.m-header .m-header-combobox{
    margin: 12px 0px 12px 24px;
} 

.m-header .m-header-profile{
    display: flex;
    align-items: center;
}

.m-header-profile .profile-avatar{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    background-image: url('../../content/icon/avatar-default.png');
    background-size: contain;
}

.m-header-profile .profile-name{
    height: 16px;
    margin:0 16px;
    font-size:13px;
}

.m-header-profile .profile-option{
    height: 16px;
    width: 16px;
    margin-right: 16px;

    background-image: url('../../content/icon/option.png');
    background-size: contain;
}

