.insert-input{
 display: flex;
}

.m-row.m-row-form{
  margin-right: 10px;   
}

input.m-input-form{
     padding:0 4px;  
     min-width: 169px;
}
input.m-input-address{
     width:35.7vh; 
}
input.m-combobox-form {
    width:137px; 
    max-width: 137px;
}
