.m-navbar{
    background-color:#fff;
    width: 226px;
    height: 100vh;
    float: left;
}

.m-navbar .m-navbar-top-box{
    display: flex;
    height:48px;
    background-color:#fff;
    align-items: center;
    border-top: 1px solid #ccc;
}

.m-navbar-top-box .top-box-icon{
    width: 24px;
    height: 24px;
    margin:12px 10px 12px 16px; 
    background-image: url('../../content/img/toggle.png');
    background-size: contain;
}

.m-navbar-top-box .top-box-logo{
    width:calc(226px - 74px);
    height: 35px;
    background-image: url('../../content/img/cukcuk-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* .m-navbar .m-navbar-bottom-list:hover{
}    */

.m-navbar-bottom-list .bottom-list-menu{
    display:flex;
    align-items: center;
}

.m-navbar-bottom-list .bottom-list-menu:hover{
    background-color:#E5E5E5;
    cursor: pointer;
}

.bottom-list-menu-active{
    display:flex;
    align-items: center;
    background-color: #019160;
    color: #fff;

}

.bottom-list-menu-active:hover{
    background-color: #019160;
    color: black;

}

.bottom-list-menu .menu-text{
    width:calc(226px - 60px);
    height: 20px;
    font-size: 13px;
    margin-top: 5px;
}

